# Ignore venv directory
venv/

# Ignore specific files
.idea/vcs.xml
requirements.txt
webscrapping.py

# Ignore all .pyc files
*.pyc

# Ignore .DS_Store Files: To prevent .DS_Store files from being tracked
.DS_Store
